@banner-color: #eee;
@primary-orange: rgb(246, 120, 17);

* {
  font-family: helvetica;
  font-weight: lighter;
}
a {
  &, &:hover, &:focus, &:link {
    text-decoration: none;
    color: #333
  }
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}
div.nav {
  background: none;
  text-align: center;
  padding: 10px;

  a.logo img {
    margin-bottom: 30px;
  }

  .active li {
    background-color: @primary-orange;
    border-radius: 5px;
  }

  ul {
    list-style: none;
    padding: 5px;
    background-color: #ddd;
    border-radius: 5px;
    font-size: 2em;

    a {
      padding: 0;
    }

    li {
      padding: 5px 10px;
      border-bottom: 1px solid black;

      &:last-child {
       border-bottom: none;
      }
    }
  }
}
.content {
  text-align: center;
  padding-bottom: 20px;

  .row {
    padding-top: 10px;
  }
}
#banner {
  padding: 15px 0px;
  background: @banner-color;

  img {
    height: 100px;
  }
}
dl, dd, dt {
  margin: 0px;
  padding: 0px
}
dt {
  font-weight: bold;
}
.subsection {
  padding: 20px;
}
.pricing {
  table {
    text-align: left;

    th {
      font-weight: bold;

      &:first-child {
        font-weight: normal;
      }
    }
  }

  ul.brands {
    list-style: none;
    padding: 0px;

    img {
      height: 45px;
      padding-bottom: 5px;
      margin: auto;
    }

    a {
      border-bottom: 5px solid white;
    }

    .active {
      border-bottom: 5px solid @primary-orange;
    }

    li {
      padding: 3px 10px;
      width: 100%;
    }
  }
}
@media (min-width: 768px) {
  div.nav {
    background: @banner-color;

    ul {
      display: inline-block;
      width: 100%;
      background: none;
      font-size: 1em;

      li {      
        padding: 10px 0px;
      }
    }
  }
  .about {
    margin: 20px auto;
  }
}